body {
    display: grid;
    height: 100vh;
    main {
        display: grid;
        justify-items: center;
        #game{
            display: grid;
            align-self: center;
            height: 720px;
            width: 1280px;
        }
    }
}